@font-face {
    font-family: 'SFProDisplay-Regular', sans-serif;
    src: url('../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProDisplay-Semibold', sans-serif;
    src: url('../fonts/SFProDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFProDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu-Light', sans-serif;
    src: url('../fonts/Ubuntu-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu-Regular', sans-serif;
    src: url('../fonts/Ubuntu-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu-Medium', sans-serif;
    src: url('../fonts/Ubuntu-Medium.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Ubuntu-Bold', sans-serif;
    src: url('../fonts/Ubuntu-Bold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}